We need to restrict the usage of our API to prevent users from abusing our system. These are the conditions/requirements:

- Allow restricting access by user or by IP
- Set rate limit per user
- Restriction should be 100/500/1000 requests per hour for an individual user
- Those numbers should be configurable from the environment
- When a user reaches the limit, in the response show an error message about current limit for that user account, and display when (time) the user can make the next request
- Bonus: keep performance in mind.
- Optional task: Create a different weight of request rate for every URL: 1/2/5 points per request (you can assume we have 5 different end points) depending on end point.
